* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ___BURGER */

.header {

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  background-color: #00806B;
  border-bottom: 7px solid wheat;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;



}

.header_content {

  position: relative;

}

.header_burger {
  display: none;


}

/* _____Header_____ */
.header_content {
  display: flex;
  /* gap: 60px; */
  justify-content: space-between;
  align-items: center;


}

.header_logo {
  max-width: 200px;
  margin: 10px 0 10px 0;
  position: relative;
  z-index: 3;
}

.header_logo img {
  fill: #0579bd;


}

.support_call {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  position: relative;
  z-index: 3;
}

.support_call img {
  width: 35px;
  height: 50px;
}

.call_content a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

/* .header_menu{
  display: flex;
  align-items: center;
  gap: 60px;
} */
.header_list {
  max-width: 500px;
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 3;
}

.header_list li {
  width: 100%;
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

nav a {
  width: 100%;
  color: white;
  text-decoration: none;

  font-size: 24px;
  display: flex;
  gap: 7px;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #0A689E;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.login_btn2 {
  display: none;
}

.login_btn {
  background-color: #0A689E;
  color: white;

  font-size: 25px;
  font-weight: 600;

  width: 140px;
  height: 50px;

  border-radius: 8px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .4s ease-in-out;
  border: none;

  position: relative;
  z-index: 3;

}

.login_btn:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login_container input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 12px 10px;
  margin: 8px 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.login_container input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);

}

.modal button {
  background-color: #0A689E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.imgcontainer {
  margin-bottom: 22px;
  position: relative;
}

.login_container {
  padding: 16px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
  border-radius: 15px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/*____MAIN CONTENT______ */

.main_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.container_title {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;

}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  max-width: 650px;

}

.title-text h1 {
  font-size: 40px;
  font-family: "Roboto";

}

.title-text p {
  max-width: 700px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 52px;

}

.title-text img {
  width: 80px;
}

.title-text h3 {
  font-size: 24px;
  font-family: "Roboto";
  margin: 45px 0;
}

.title-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emergency-btn {
  width: 450px;
  background-color: #0A689E;
  color: white;
  padding: 23px 84px;
  border-radius: 17px;
  font-size: 24px;
  border: none;

}

.emergency-btn:hover {
  background: rgb(213, 52, 16);
  cursor: pointer;
}

/* ______CARDS______ */
.cards_outer p {

  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.cards {
  display: flex;
  background-color: #0A689E;
  justify-content: space-between;
  margin-top: 77px;
  padding: 0 40px 0 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 311px;
  height: 347px;
  padding: 12px;
  transition: .7s ease-in-out;
}

.card h3 {
  font-family: "Roboto";
  padding: 25px 0;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  line-height: 28px;
}

.card p {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 20px;
}

.card:hover {
  transform: translateY(-50px);
  background-color: #00806b;

}

/* ------FULL SERVICE------ */
.full_service {
  padding-bottom: 60px;


  color: white;

  display: flex;
  flex-direction: column;

}

.service_content {
  padding: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #00806B;
}

.service_content_img {
  box-shadow: -57px 30px #03849E;
}

.content_text {
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.content_text b {
  font-size: 30px;
}

.content_text p {
  font-size: 20px;

}

.play_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.play_btn img {
  width: 80px;

}

.play_btn img:hover {
  cursor: pointer;

}


.contacts {
  display: flex;
  justify-content: center;
}

.contact_us {

  width: 900px;
  height: 200px;
  background-color: #0A689E;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.contact_us_content {
  display: flex;
  gap: 10px;
}

.contact_us_text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* ______Appointment_______ */

.appointment {
  margin-top: 50px;
  display: flex;
  justify-content: center;


}

.appointment_content {
  background-color: #ECF5F1;
  color: black;
  padding: 35px;

  border-radius: 15px;

}

.appointment_content p {
  font-size: 30px;
  font-weight: 500;
}

.appointmentForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form_inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.text-field__input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

select {
  display: block;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);

}

.text-field__submit {
  display: block;
  width: 50%;
  height: 35px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #00806B;
  color: white;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__submit:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.doctor_choose {
  color: rgb(165, 164, 164);
}

/* _____FOOTER_____ */
footer {
  background-color: #0A689E;
  padding-top: 40px;
}

.footer_content {
  display: flex;
  justify-content: space-evenly;
}

.footer_logo {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: white;
  text-align: center;
  font-size: 20px;
}

.footer_logo img {
  width: 231px;

}

.text_icon {
  display: flex;
  gap: 30px;
}

.text_icon img {
  width: 40px;
  overflow: hidden;

}

.text_icon img:hover {
  cursor: pointer;
}

.footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text_inner {
  display: flex;
  gap: 40px;
}

.footer_text_inner li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.footer_text_inner a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}


/* Настройки кнопки вызова скорой */


.emergencyAnswer {
  position: fixed;
  top: 450px;
  left: 700px;

  font-size: 55px;
  color: #cd1c10;
  background-color: #00806b;
  max-width: 1550px;
  max-height: 1250px;
  display: none;
  border-radius: 21px;


}

.emergencyAnswer_title {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  padding: 20px;
  color: #ffffff;
}

.answerclose {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 21px;
  color: white;

}


.adress {
  position: fixed;
  border-radius: 15px;
  text-align: center;
  top: 500px;
  left: 780px;

  font-size: 45px;
  color: #ffffff;
  background-color: #00806b;
  max-width: 1550px;
  max-height: 1250px;
  display: none;
}

.Emergency-form {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.adress input {
  max-width: 70%;
  max-height: 20%;
  font-size: 25px;
}

.Emergency-btn {
  padding: 8px 25px;
  background-color: #0788d1;
  color: white;
  border: none;
  border-radius: 7px;

}

.emergencyAnswer_title img {
  max-width: 10%;
}

/* Настройки кнопки вызова скорой */




@media (max-width :1400px) {
  .header_content {
    padding: 0 40px 0 40px;
  }

}


@media (max-width :1330px) {
  .support_call {
    display: none;
  }

  .support_call img {
    display: none;
  }

  .call_content p,
  .call_content a {
    display: none;
  }

}

@media (max-width: 990px) {
  nav a {
    font-size: 20px;
  }

  .login_btn {
    width: 120px;
    font-size: 22px;
  }

  .header_logo a img {
    width: 200px
  }
}

@media (max-width: 768px) {
  nav a {
    font-size: 15px;
  }

  .login_btn {
    width: 70px;

    font-size: 15px;
  }

  .header_logo a img {
    width: 200px
  }

  .title {
    margin-top: 100px;

  }
  .service_content_img{
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    right: 0;
    z-index: 3;
  }

  .header_burger span {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all .3s ease 0s;

  }

  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header_burger:after {
    bottom: 0;
    transition: all .3s ease 0s;
  }

  .header_burger:before {
    top: 0;
    transition: all .3s ease 0s;
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #A76795;
    padding: 130px 20px 0 20px;
    height: 430px;
    transition: all .3s ease 0s;


  }

  .header_list {
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    font-size: 38px;

  }

  .header_list li a {
    font-size: 30px;
    padding-left: 8px;

  }

  .header_list li {
    padding-bottom: 10px;
    padding-top: 0;
    width: 130px;


  }

  .header_menu.active {
    top: 0;
  }

  .header_burger.active:before {

    transform: rotate(45deg);
    top: 9px;

  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_burger.active span {
    display: none;
  }

  .login_btn {
    margin: 0;
  }

  .login_btn2 {
    display: block;
    background-color: #0A689E;
    color: white;

    font-size: 25px;
    font-weight: 600;

    width: 140px;
    height: 50px;

    border-radius: 8px;
    border: none;
  }
  .login_btn2:hover{
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  }
}



@media only screen and (max-width: 920px) {

  .call_content {
    display: none;
  }

  .support_call {
    display: none;

  }

  .container_title {

    margin: 0 auto;

  }



  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 0fr;
    padding: 50px;
    gap: 50px;
  }

  .header-img {
    display: none;
  }

  .service_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }

  .title-text {
    margin: 0 auto;
    align-items: center;
    margin-top: 55px;
    justify-content: center;
    padding: 35px;

  }

  .title-text h1 {
    margin-top: 120px;

  }

  .call_content {
    display: none;
  }

  .support_call {
    display: none;
  }

  .title h1 {
    text-align: center;
  }

  .comment {
    padding: 0;
  }

  .adress {
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 15px;
    text-align: center;
    top: 450px;
    left: 100px;
    right: 300px;
    font-size: 45px;
    color: #ffffff;
    background-color: #00806b;
    width: 650px;
    height: 150px;
    display: none;

  }

  .emergencyAnswer_title {
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 15px;
    text-align: center;
    top: 450px;
    left: 100px;
    right: 300px;
    font-size: 45px;
    color: #ffffff;
    background-color: #00806b;
    width: 650px;
    height: 150px;

  }

  .answerclose {
    position: absolute;
    top: 15px;
    right: -120px;
    cursor: pointer;
    font-size: 21px;
    color: white;

  }

}

@media only screen and (max-width: 820px) {

  .card h3 {
    font-family: "Roboto";
    padding: 20px 0;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    line-height: 28px;
  }

  .card p {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 15px;
  }

  .title-right {
    margin: 0 auto;
    justify-content: center;
  }


  .title-text {

    margin: 0 auto;
    align-items: center;
    margin-top: 55px;
    justify-content: center;

  }

  .title-text h1 {
    padding: 5px;
  }

  .cards_outer {
    padding: 15px;
    font-size: 12px;
  }



  .footer_text {
    display: none;
  }

  .header_content {
    justify-content: center;
    gap: 35px;
  }

  .header-img img {
    display: none;
  }

  .service_content {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    gap: 35px;

  }

  .call_content {
    display: none;
  }

  .support_call {
    display: none;
  }

  .title h1 {
    text-align: center;
  }

  .comment {
    padding: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 20px;

  }

  .login_btn {
    display: none;
  }

  .adress {
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 15px;
    text-align: center;
    top: 450px;
    left: 100px;
    right: 300px;
    font-size: 45px;
    color: #ffffff;
    background-color: #00806b;
    width: 650px;
    height: 150px;
    display: none;

  }

  .emergencyAnswer_title {
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 15px;
    text-align: center;
    top: 450px;
    left: 100px;
    right: 300px;
    font-size: 45px;
    color: #ffffff;
    background-color: #00806b;
    width: 650px;
    height: 150px;

  }

  .answerclose {
    position: absolute;
    top: 15px;
    right: -210px;
    cursor: pointer;
    font-size: 21px;
    color: white;

  }


}



@media only screen and (max-width: 540px) {
  

  .call_content {
    display: none;
  }




}


@media only screen and (max-width: 420px) {

  .sticky {
    max-width: 415px;
  }

  .header_content {
    max-width: 415px;
  }

  .title-text {

    font-family: "Roboto";
    margin-top: 150px;
    text-align: center;
  }

  .title-text h1 {
    font-size: 25px;
    font-family: "Roboto";
    margin-top: 30px;
    text-align: center;
  }


  .emergency-btn {
    width: 350px;
    background-color: #0A689E;
    color: white;
    padding: 23px 84px;
    border-radius: 17px;
    font-size: 24px;
    margin: 0 auto;
  }

  .container_title {

    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }

  

  .call_content {
    display: none;
  }

  .support_call {
    display: none;
  }

  .footer_text_inner {
    display: none;
  }

  .header-img {
    display: none;
  }

  .cards_outer {
    display: none;
  }

  .title-text {
    padding: 0%;
    padding: 0px;
  }

  .service_content {
    flex-direction: column;
  }

  .service_content_img {
    display: none;
  }

  .play_btn {
    display: none;
  }

  .contact_us {
    display: none;
  }

  .adress {
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 15px;
    text-align: center;
    top: 450px;
    left: 0px;
    right: 300px;
    font-size: 19px;
    color: #ffffff;
    background-color: #00806b;
    width: 340px;
    height: 100px;
    display: none;

  }

  .emergencyAnswer_title {
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 15px;
    text-align: center;
    top: 450px;
    left: 20px;
    right: 300px;
    font-size: 20px;
    color: #ffffff;
    background-color: #00806b;
    width: 320px;
    height: 100px;

  }

  .answerclose {
    position: absolute;
    top: 5px;
    right: -35px;
    cursor: pointer;
    font-size: 21px;
    color: white;

  }

  .Emergency-form {
    gap: 9px;
  }

  .adress input {
    max-width: 60%;
    max-height: 20%;
    font-size: 25px;
  }

}