* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ___BURGER */

.header {

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  background-color: #00806B;
  border-bottom: 7px solid wheat;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;



}

.header_content {

  position: relative;

}

.header_burger {
  display: none;


}

/* _____Header_____ */
.header_content {
  display: flex;
  /* gap: 60px; */
  justify-content: space-between;
  align-items: center;


}

.header_logo {
  max-width: 200px;
  margin: 10px 0 10px 0;
  position: relative;
  z-index: 3;
}

.header_logo img {
  fill: #0579bd;


}

.support_call {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  position: relative;
  z-index: 3;
}

.support_call img {
  width: 35px;
  height: 50px;
}

.call_content a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

/* .header_menu{
  display: flex;
  align-items: center;
  gap: 60px;
} */
.header_list {
  max-width: 500px;
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 3;
}

.header_list li {
  width: 100%;
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

nav a {
  width: 100%;
  color: white;
  text-decoration: none;

  font-size: 24px;
  display: flex;
  gap: 7px;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #0A689E;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.login_btn2 {
  display: none;
}

.login_btn {
  background-color: #0A689E;
  color: white;

  font-size: 25px;
  font-weight: 600;

  width: 140px;
  height: 50px;

  border-radius: 8px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .4s ease-in-out;
  border: none;

  position: relative;
  z-index: 3;

}

.login_btn:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login_container input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 12px 10px;
  margin: 8px 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.login_container input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);

}

.modal button {
  background-color: #0A689E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.imgcontainer {
  margin-bottom: 22px;
  position: relative;
}

.login_container {
  padding: 16px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
  border-radius: 15px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}



/* ____MAINCONTENT_____ */
.main_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  margin-top: 140px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;

  -webkit-box-shadow: 0 10px 6px -6px #ECF5F1;
  -moz-box-shadow: 0 10px 6px -6px #ECF5F1;
  box-shadow: 0 10px 6px -6px #ECF5F1;

  font-size: 51px;
  font-weight: 500;
}

.card {
  background-color: #A76795;
  display: flex;
  align-items: center;
  color: white;

  border-radius: 15px;

}

.card p {
  padding: 30px 40px 10px 40px
}

.card img {
  height: 266px;
}

.container_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 36px;
  font-weight: 600;
}

.career_text {
  padding: 20px;
  background-color: #F6F8F7;
  border-radius: 14px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  font-size: 18px;
  font-weight: 400;
}

.menu-box {
  padding: 20px;

  background-color: white;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  font-size: 38px;
  transition: all .3s ease 0s;
}

.menu-box p {
  margin: 13px;
}

.box_title:hover {

  cursor: pointer;
}

.box {

  position: relative;
  padding: 15px 0 15px 0;

  background-color: #F6F8F7;


  display: flex;
  flex-direction: column;

  font-size: 20px;

  color: black;
  background: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.014em;
  
}

.box_inner {
  margin: 0 0 25px 0;
  padding: 15px;
  background-color: #EFF8F3;
  border-radius: 14px;

}

#spoiler-content p {
  font-size: 35px;
}

.grid {

  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 32.33%);
  grid-template-rows: repeat(3);
}

.box_inner img {
  width: 70px;
}

.box_inner:nth-child(2),:nth-child(6) {
  background-color: #EBF2FC;
}

.box_inner:nth-child(3) {
  background-color: #FFF8E8;
}

.box_inner:nth-child(4) {
  background-color: #FFEFEF;
}

#spoiler-content2 p {
  font-size: 35px;
}

.box_content_grid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 32.33%);


}

.box_content_grid p {
  font-size: 40px;
  margin: 10px 0 10px 0;
  color: #3C9670;
}

.box_inner1 {
  padding: 15px;

  background-color: #F6F8F7;
  border-radius: 14px;

  display: flex;
  gap: 15px;

  font-size: 18px;
}

.box_inner1 img {
  height: 52px;
  width: 52px;
}

#spoiler-content2 .box_inner1 p {
  font-size: 18px;
}

#spoiler-content3 p {
  font-size: 35px;
}

#spoiler-content3 .grid {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(4, 23.86%);

}

#spoiler-content3 .grid p {
  font-size: 40px;
  margin: 10px 0 10px 0;
  color: #3C9670;
}

#spoiler-content3 .box_inner1 {
  display: flex;

  align-items: center;
}

#spoiler-content3 .box_inner1 p {
  font-size: 18px;
}

#spoiler-content4 p {
  font-size: 35px;
}

#spoiler-content4 .grid {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(2, 49.23%);

}

#spoiler-content4 .grid p {
  font-size: 40px;
  margin: 10px 0 10px 0;
  color: #3C9670;
}

#spoiler-content4 .box_inner1 {
  display: flex;

  align-items: center;
}

#spoiler-content4 .box_inner1 p {
  font-size: 18px;
}


.hidden {
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.fadein {
  height: 100%;
  opacity: 1;
}



.card_grid {
  display: grid;
  gap: 20px;
  
  grid-template-columns: repeat(3, 32.33%);
  
  
}

.container_card{
  padding: 35px;
  background-color: #F6F8F7;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 14px;
  overflow: hidden;
}
.grid_content {
  padding: 15px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.grid_content img{
  width: 52px;
}
.grid_content p{
  font-size: 19px;
  font-weight: 500;
}
.box_title {
  padding: 0 10px 0 10px;
  background-color: #F6F8F7;
  border-radius: 13px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  

}

.box_title_usual {
  padding: 0 10px 0 35px;
  background-color: #F6F8F7;
  border-radius: 13px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 18px;

  margin-bottom: 30px;


}

.box_title img {
  width: 15px;
  height: 20px
}
/* _____FOOTER_____ */
footer {
  margin-top: 40px;
  background-color: #0A689E;
  padding-top: 40px;
}

.footer_content {
  display: flex;
  justify-content: space-evenly;
}

.footer_logo {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: white;
  text-align: center;
  font-size: 20px;
}

.footer_logo img {
  width: 231px;

}

.text_icon {
  display: flex;
  gap: 30px;
}

.text_icon img {
  width: 40px;
  overflow: hidden;

}

.text_icon img:hover {
  cursor: pointer;
}

.footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text_inner {
  display: flex;
  gap: 40px;
}

.footer_text_inner li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.footer_text_inner a {
  color: white;
  text-decoration: none;
  /* letter-spacing: 0.15em; */
  font-size: 24px;
}



@media (max-width :1400px) {
  .header_content {
    padding: 0 40px 0 40px;
  }

}

@media (max-width: 767px) {
  .header_content{
    justify-content: center;
    gap:40px ;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    right: 0;
    z-index: 3;
  }

  .header_burger span {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all .3s ease 0s;

  }

  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header_burger:after {
    bottom: 0;
    transition: all .3s ease 0s;
  }

  .header_burger:before {
    top: 0;
    transition: all .3s ease 0s;
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #A76795;
    padding: 130px 20px 0 20px;
    height: 430px;
    transition: all .3s ease 0s;


  }

  .header_list {
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    font-size: 38px;

  }

  .header_list li a {
    font-size: 30px;
    padding-left: 8px;

  }

  .header_list li {
    padding-bottom: 10px;
    padding-top: 0;
    width: 130px;


  }

  .header_menu.active {
    top: 0;
  }

  .header_burger.active:before {

    transform: rotate(45deg);
    top: 9px;

  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_burger.active span {
    display: none;
  }

  .login_btn {
    margin: 0;
  }

  .login_btn2 {
    display: block;
    background-color: #0A689E;
    color: white;

    font-size: 25px;
    font-weight: 600;

    width: 140px;
    height: 50px;

    border-radius: 8px;
    border: none;
  }
  .login_btn2:hover{
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  }
  .header_logo img {
    width: 200px;
  }
}
@media only screen and (max-width: 1030px) {

  .call_content {
    display: none;
  }
  .support_call{
    display: none;

}
}
@media only screen and (max-width: 912px) {

 
.call_content {
  display: none;
}
.support_call{
  display: none;
}

.title h1 {
  text-align: center;
}
.comment{
  padding: 0;
}
}


@media only screen and (max-width: 820px) {

  .login_btn {
    display: none;
    
  
}
.call_content {
  display: none;
}
.support_call{
  display: none;
}
.title h1 {
  text-align: center;
}
.comment{
  padding: 0;
}
.footer_text{display: none;}
}





@media only screen and (max-width: 540px) {

 
.call_content {
  display: none;
}
.support_call{
  display: none;
}
.title h1 {
  text-align: center;
}
.comment{
  padding: 0;
}


.about-director{
  flex-direction: column;
}


.about-team{
  flex-direction: column;
}

.stats_cards{
  display: none;
}

.stats_cards2{
  display: none;
}

.footer_text{display: none;}

.container h2{
  display: none;
}

}




@media only screen and (max-width: 420px) {

.card{
  flex-direction: column;
}


.card_grid {
  display: grid;
  gap: 20px;
  
  grid-template-columns: repeat(1, 100%);
  
  
}
  
.box_content_grid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 100%);
}

.grid {
  
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: repeat(2);
  justify-content: center;
  gap: 10px;
}

.box_inner{
  font-size: 15px;
  padding: 15px;
}

.box_content_grid{
  justify-content: center;
  text-align: center;
}

#spoiler-content3 .grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 60%);
}



.container_text{
  
  text-align: center;
}
.container p{
  font-size: 35px;
  text-align: center;
}

.call_content {
  display: none;
}
.support_call{
  display: none;
}
.title h1 {
  text-align: center;
}
.comment{
  padding: 0;
}
.header_logo img {
  width: 200px;
}

.about-director{
  flex-direction: column;
}


.about-team{
  flex-direction: column;
}

.stats_cards{
  display: none;
}

.stats_cards2{
  display: none;
}

.footer_text{display: none;}

.container h2{
  display: none;
}

}



@media only screen and (max-width: 280px) {


  .menu-box{
    display: none;
  }
  .header_toolbar nav {
    display: none;
  }
.call_content {
  display: none;
}
.support_call{
  display: none;
}
.title h1 {
  text-align: center;
}
.comment{
  padding: 0;
}
.header_logo img {
  width: 80%;
}

.about-director{
  flex-direction: column;
}


.about-team{
  flex-direction: column;
}

.stats_cards{
  display: none;
}

.stats_cards2{
  display: none;
}

.footer_text{display: none;}

.container h2{
  display: none;
}

}